body {
    margin: 0;
    overflow-x: hidden;
    background-color: #E8D8B0;
}
html {
    height: 0;
}

#header{
    margin: -10px;
    width: 1922px;
    height: 222px;
    background-color: #D99270;

  }


.textNaShapkeSayta{
    margin: 0;
    text-align: left;
    left: 100px;
    color: rgb(60, 37, 26);
    margin-left: 730px;
    margin-top: -140px;
    font-size: 50px;
}

.gooseCXLEBOM {
    position:absolute;
    top: -10px;
    left: 50px;
}

.KoRzInA {
    position:absolute;
    top: 60px;
    left: 1500px;
}

.ZaReGeStR {
    position:absolute;
    top: 60px;
    left: 1650px;
}

.VoYtI {
    position:absolute;
    top: 60px;
    left: 1800px;
}

.korzina{
    text-decoration: none;
    color: rgb(60, 37, 26);
    position:absolute;
    top: 130px;
    left: 1500px;
}

.zaregestr{
    text-decoration: none;
    color: rgb(60, 37, 26);
    position:absolute;
    top: 130px;
    left: 1600px;
}

.voyti{
    text-decoration: none;
    color: rgb(60, 37, 26);
    position:absolute;
    top: 130px;
    left: 1815px;
}

.kvadrat {
    display: flex;
    justify-content: center;
}
#kvadrat {
    margin: 100px;
    width: 905px;
    background-color: #F59073;
    border-radius: 45px;
    padding-top: 1em;
    text-align: center;
}

#kvadrat > p {
    font-size: 24px;
    font-weight: bold;
    color: #332017;
    margin: 0;
}

hr {
    border: 1px solid black;
    width: 90%;
}

.nazvaniyaYeda {
    text-align: center;
    color: #332017;
    margin-top: 50px;
}

.food-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    gap: 60px;
}

.food {
    width: 248px;
    height: 327px;
    background-color: #FFB55F;
    border-radius: 37px;
    margin-bottom: 20px;
}

p {
    font-weight: bold;
    color: #332017;
}

.nag {
    font-size: 16px;
    position: absolute;
    margin-left: 30px;
    margin-top: 200px;
}
.nag1 {
    font-size: 16px;
    position: absolute;
    margin-left: 30px;
    margin-top: 220px;
}

.nagImg {
    margin-left: 40px;
    margin-top: 20px;
}

.btn {
    margin-top: 60px;
    margin-left: 30px;
    width: 184px;
    height: 35px;
    background-color: #B6D96C;
    border-radius: 16px;
    text-align: center;
    padding-top: 0.6em;
}
.btnA {    
    text-decoration: none;
    color: rgb(60, 37, 26);
}

footer {
    margin: 20px 0 0 0;
    background-color: #446369;
    height: 184px;
    
    color:white;
    position: relative;
}
footer > div {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}